:root {
    background: #111;
    color: #999;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: 1rem .5rem;
}
.wrap {
    margin: .5rem 0;
    padding: 0.25rem;
}

section.split label, section.list label {
    display: flex;
    margin: 1rem 0;
}

input, textarea {
    color: inherit;
    background: inherit;
    margin: 0 .25rem;
}

input.minutes, input.year {
    width: 4rem;
}

elm- {
    display: block;
}

.err {
    background-color: rgba(255, 0, 0, 20%);
}

.title {
    margin: 0.25rem 0 0;
}

:link {color: rgb(70,70,238);}

:visited {
    color: rgb(135, 46, 139);
}
