:root {
    --primary-light: #999;
    --primary-dark: #111;
    --secondary-light: #aaa;
    --secondary-dark: #1b1b1b;
    --tertiary-dark: #2b2b2b;
    background: var(--primary-dark, #111);
    color: var(--primary-light, #999);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: 1rem .5rem;
}

.wrap {
    margin: .5rem 0;
    padding: 0.25rem;
}

label {
    display: inline-block;
}

.split-wrapper label,
.config-wrapper label {
    margin: 1rem 0;
}

section :first-child {
    margin-top: 0;
}

input,
textarea,
button {
    color: inherit;
    background: var(--secondary-dark, #1b1b1b);
    margin: 0 .25rem;
    padding: 0.35rem;
    border-radius: 0.75rem;
    margin: 0 .25rem .25rem .25rem;
}

input,
button {
    font-family: inherit;
}

button {
    background: var(--tertiary-dark, #2b2b2b);
    color: var(--secondary-light, #aaa);
}

.config-wrapper label {
    display: block;
}

input.minutes,
input.year {
    width: 4rem;
}

input.imdb {
    width: 5rem;
}

elm- {
    display: block;
}

.err {
    background-color: rgba(255, 0, 0, 20%);
}

.title {
    margin: 0.25rem 0 0;
}

:link {
    color: rgb(70, 70, 238);
}

:visited {
    color: rgb(135, 46, 139);
}

[type=time] {
    color: var(--secondary-dark, #1b1b1b);
    background: var(--primary-light, #999);
}

.api p {
    margin-top: 0;
}

.config label {
    display: block;
}

label.ta {
    display: flex;
}