elm- {
    display: grid;
    grid-auto-flow: column;
    position: relative;
    grid-template-columns: min-content 1fr auto;
    background-color: rgba(85, 85, 85, 5%);
    transition: background-color 0.2s;
}

.err {
    background-color: rgba(255, 0, 0, 15%);
}

.light .err {
    background-color: rgba(255, 50, 50, 35%);
}

elm-:nth-of-type(2n) {
    background-color: rgba(85, 85, 85, 10%);
}

elm-.err:nth-of-type(2n) {
    background-color: rgba(255, 50, 50, 15%);
}

.light elm-.err:nth-of-type(2n) {
    background-color: rgba(255, 0, 0, 35%);
}

elm- > div:first-of-type,
elm- > div:nth-of-type(2) {
    padding: 0.5rem 0 0.5rem 0.5rem;
}

elm- input,
elm- button,
elm- select {
    margin: 0 0.5rem 0.75rem 0;
}

.up,
.drag,
.down {
    display: block;
    user-select: none;
}

input.minutes,
input.year {
    width: 4.5rem;
}

input.imdb {
    width: 6rem;
}

.season,
.episode {
    width: 5rem;
}

.select-title-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.select-title {
    width: 100%;
    max-width: 23rem;
}

elm-.movie .select-title-wrapper label {
    display: none;
}

.title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    margin: 0.25rem 0.75rem 0.25rem 0;
    max-width: 27rem;
}

.title-wrapper label {
    margin-left: auto;
}

.minute-label {
    place-self: end;
}

.poster {
    width: 100px;
    height: 150px;
    display: block;
    margin-left: 0.75rem;
    object-fit: contain;
    object-position: top right;
}

.poster:not([src]) {
    visibility: hidden;
}

.loading-overlay {
    background: radial-gradient(#4448, transparent);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    display: grid;
}

.circle {
    position: relative;
    width: 50px;
    height: 50px;
    margin: auto;
    /* background: red; */
    border: 5px transparent solid;
    border-top: 5px #888 solid;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}

elm-:not(.loading) .loading-overlay {
    display: none;
}

elm-.warning .warning-wrapper {
    display: flex;
}

.warning-wrapper {
    display: none;
    margin-bottom: 0.5rem;
}

.warning-outer {
    position: relative;
    background: black;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    margin-right: 0.25rem;
    width: 24px;
    height: 24px;
}

.warning-inner {
    position: absolute;
    top: 3px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: yellow;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    color: black;
    font-size: 16px;
    font-family: impact, fantasy;
}

.warning-inner span {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.warning-wrapper > span {
    margin: 0.25rem 0.75rem 0.25rem 0;
}
