elm- {
    display: grid;
    grid-auto-flow: column;
    position: relative;
    grid-template-columns: min-content 1fr auto;
    background-color: rgba(85, 85, 85, 5%);
    transition: box-shadow 0.2s;
}

elm-:nth-of-type(2n) {
    background-color: rgba(85, 85, 85, 10%);
}

.err {
    background-color: rgba(255, 0, 0, 15%);
}

.light .err {
    background-color: rgba(255, 50, 50, 35%);
}

elm-.err:nth-of-type(2n) {
    background-color: rgba(255, 50, 50, 15%);
}

.light elm-.err:nth-of-type(2n) {
    background-color: rgba(255, 0, 0, 35%);
}

.drag-elm {
    z-index: 1;
    box-shadow: #222 0 0 0 100vmax inset;
}

.light .drag-elm {
    box-shadow: #888 0 0 0 100vmax inset;
}

elm- > div:first-of-type,
elm- > div:nth-of-type(2) {
    padding: 0.5rem 0 0.5rem 0.5rem;
}

elm- input,
elm- button,
elm- select {
    margin: 0 0.5rem 0.75rem 0;
}

.up,
.drag,
.down {
    display: block;
    user-select: none;
}

input.minutes,
input.year {
    width: 4.5rem;
}

input.imdb {
    width: 6rem;
}

.season,
.episode {
    width: 5rem;
}

.select-title-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.select-title {
    width: 100%;
    max-width: 20.5rem;
}

elm-.movie .select-title-wrapper label {
    display: none;
}

elm-.series.warning .select-title-wrapper {
    max-width: fit-content;
}

.title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.info-button {
    background: #0072ff;
    color: white;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    margin: 0.25rem 0.5rem 0.25rem 0.25rem;
    text-align: center;
    user-select: none;
}

.info-button:hover {
    background: #00b2ff;
}

.title {
    margin: 0.25rem 0.75rem 0.25rem 0;
    max-width: 20.5rem;
    margin-right: auto;
}

.rated {
    margin: 0 0 0.75rem 0.75rem;
    height: max-content;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    color: var(--tertiary-color);
    background-color: var(--tertiary-background);
}

.rated.err {
    background: rgba(61, 61, 0, 50%);
}

.light .rated.err {
    background: rgba(143, 143, 36, 50%);
}

.minute-label {
    place-self: end;
    margin-left: 0.75rem;
}

.minute-label input {
    margin-right: 0;
}

.info-wrapper {
    font-family: monospace;
    word-break: break-word;
    max-width: 500px;
    white-space: pre-wrap;
}

.info-wrapper:not(.info) {
    display: none;
}

.info-wrapper > div {
    margin-bottom: 0.5rem;
    line-height: 1.25em;
}

.info-wrapper div span:first-of-type {
    font-weight: bolder;
    color: #298b8b;
    vertical-align: top;
}

.light .info-wrapper div span:first-of-type {
    font-weight: bolder;
    color: #005050;
    vertical-align: top;
}

.info-wrapper div span:first-of-type span,
.light .info-wrapper div span:first-of-type span {
    color: #626262;
}

.info-wrapper img {
    max-width: 100%;
}

.poster {
    width: 100px;
    height: 150px;
    display: block;
    margin-left: 0.75rem;
    object-fit: contain;
    object-position: top right;
}

.poster:not([src]) {
    visibility: hidden;
}

.loading-overlay {
    background: radial-gradient(#4448, transparent);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    display: grid;
}

.circle {
    position: relative;
    width: 50px;
    height: 50px;
    margin: auto;
    border: 5px transparent solid;
    border-top: 5px #888 solid;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}

elm-:not(.loading) .loading-overlay {
    display: none;
}

elm-.warning .warning-wrapper {
    display: flex;
}

.warning-wrapper {
    display: none;
    margin-bottom: 0.5rem;
}

.warning-outer {
    position: relative;
    background: black;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    margin-right: 0.25rem;
    width: 24px;
    height: 24px;
}

.warning-inner {
    position: absolute;
    top: 3px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: yellow;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    color: black;
    font-size: 16px;
    font-family: impact, fantasy;
}

.warning-inner span {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.warning-wrapper > span {
    margin: 0.25rem 0.75rem 0.25rem 0;
}
