:root {
    --primary-light: #999;
    --primary-dark: #111;
    --secondary-light: #aaa;
    --secondary-dark: #1b1b1b;
    --tertiary-light: #bbb;
    --tertiary-dark: #2b2b2b;
    --primary-color: var(--primary-light);
    --primary-background: var(--primary-dark);
    --secondary-color: var(--secondary-light);
    --secondary-background: var(--secondary-dark);
    --tertiary-color: var(--tertiary-light);
    --tertiary-background: var(--tertiary-dark);
    color: var(--primary-color, #999);
    background: var(--primary-background, #111);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 62.5%;
}

:root.light {
    --primary-color: var(--tertiary-dark);
    --primary-background: var(--tertiary-light);
    --secondary-color: var(--secondary-dark);
    --secondary-background: var(--secondary-light);
    --tertiary-color: var(--primary-dark);
    --tertiary-background: var(--primary-light);
}

* {
    box-sizing: border-box;
}

:link {
    color: rgb(120, 120, 240);
}

:visited {
    color: rgb(200, 80, 140);
}

.light :link {
    color: rgb(40, 40, 240);
}

.light :visited {
    color: rgb(200, 00, 140);
}

body {
    font-size: 1.6rem;
    word-spacing: 0.1em;
    margin: 2.4rem;
}

input,
textarea,
button,
select {
    color: var(--secondary-color, #aaa);
    background: var(--secondary-background, #1b1b1b);
    margin: 0 0.4rem;
    padding: 0.56rem;
    border-radius: 1.2rem;
}

input,
button,
select {
    font-family: inherit;
    word-spacing: inherit;
}

button {
    background: var(--tertiary-background, #2b2b2b);
    color: var(--tertiary-color, #bbb);
}

[type="time"] {
    color: var(--secondary-dark, #1b1b1b);
    background: var(--secondary-light, #aaa);
}

code {
    font-size: 1.3rem;
    color: var(--tertiary-color);
    background-color: var(--tertiary-background);
    padding: 0.4rem 0.8rem;
    border-radius: 0.8rem;
    display: inline-block;
    margin-bottom: 0.4rem;
    word-spacing: 0;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 4rem;
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

header h1 {
    margin-top: 0;
}

.h1-link:link {
    text-decoration: none;
    color: var(--primary-color);
}

.h1-link:visited {
    color: var(--primary-color);
}

.toggle-theme {
    width: 1.5em;
    height: 1.5em;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    border-radius: 50%;
    user-select: none;
    margin: 0;
    margin-left: 1.6rem;
}

main {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
    main {
        display: grid;
        grid-template-columns: max-content auto;
        align-items: start;
    }
}

section {
    margin: 1.6rem 1.6rem 1.6rem 0;
}

section > :first-child {
    margin-top: 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.list-wrapper {
    max-width: max-content;
}

.add {
    font-size: 2.24rem;
    vertical-align: middle;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.config-wrapper > label {
    display: block;
    width: fit-content;
}

label.ta {
    display: flex;
    width: fit-content;
    align-items: baseline;
}

label.io {
    display: grid;
    grid-gap: 0.4rem;
    width: auto;
}

.split-wrapper > label,
.split-wrapper > div,
.config-wrapper > label,
.config-wrapper > div,
.output-wrapper > label {
    margin: 1.2rem 0;
}

.config-wrapper > button {
    margin-left: 0;
}

.var-list > div {
    margin-bottom: 0.8rem;
}

[name="suggestion"] > label {
    margin-bottom: 0.6rem;
}

.list-wrapper label {
    display: inline-block;
}

.elm-wrapper {
    margin: 0.8rem 0;
}

.api-wrapper p {
    margin-top: 0;
}

.timezone-input,
.offset {
    width: 6.4rem;
}

footer {
    display: flex;
    justify-content: center;
}

footer svg {
    color: var(--primary-color);
}
